@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background: #1E1E1E; /* Dark background color */ }

header {
  text-align: center;
  padding: 20px;
  color: #fff;
}

h1 {
  margin: 0;
  font-size: 36px;
}

form { max-width: 420px; margin: 50px auto; }

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #7c7c7c; /* Dark gray color for borders */
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus { border: 2px solid #555; /* Slightly lighter gray color on focus */ }

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: #555; /* Dark gray color for the button background */
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover { background: #777; /* Slightly lighter gray color on hover */ }

#responseMessage {
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  /* max-width: 200px; */
  margin-left: auto;
  margin-right: auto;
}

#responseMessage.success {
  color: #008000; /* Green background for success */
}

#responseMessage.error {
  color: #FF0000; /* Red background for errors */
}

#responseMessage.show {
  opacity: 1;
}

footer {
  color: #fff;
  text-align: center;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}
